.btn.btn-link {
  border: none;
  text-decoration: none !important;
}

.navbar-default.navbar-transparent {
  background: none;
}

.navbar-default.navbar-transparent .btn.btn-link {
  color: #ffffff;
}

.navbar-default.navbar-transparent .btn.btn-link:hover {
  color: #c7c5c5;
}

.navbar-default .btn.btn-link {
  color: #434547;
}

.navbar-default .btn.btn-link:hover {
  color: #222324;
}

.text-black {
  color: black;
  font-size: 15px;
}

.filter .separator.black,
.filter .description.text-black,
.filter .button-get-started > .btn.text-black {
  color: black;
}

.filter .separator.line-separator.black:before, .filter .separator.line-separator.black:after {
  border-color: black;
}

.filter.bg-white::before {
  background: white;
}

.navbar-icon {
  width: 50%;
}

@media (min-width: 769px) and (max-width: 992px) {

  .navbar-default.navbar-transparent .btn.btn-link {
    width: 100%;
    color: #434547;
  }

  .section-header .content h1, .section-header .content h5, .section-header .content p {
    margin: 0;
    margin-top: 10%;
  }

  .section-header .content h1 {
    font-size: 3.5em;
    letter-spacing: 0.07em;
    line-height: 1.2;
  }

  .section .title-area {
    margin: 0px auto 0px;
  }

  .section-header .content .separator {
    width: 12em;
    margin-bottom: 20px;
    margin-top: 15px;
  }

  .card {
    height: 420px !important;
  }
}

@media (min-width: 1px) and (max-width: 768px) {
  .navbar-default.navbar-transparent .btn.btn-link {
    width: 100%;
    color: #434547;
  }

  .card {
    height: 400px !important;
  }
}

@media (min-width: 993px) and (max-width: 1024px){
  .navbar-default.navbar-transparent .btn.btn-link {
    width: 100%;
    color: #434547;
  }

  .card {
    height: 490px !important;
  }
}

.card {
  height: 430px;
}


.modal-animation{
  animation-name: animation;
  animation-duration: 0.3s;
}

@keyframes animation {
  0%   {transform: scale(0.5)}
  75%  {transform: scale(1.1)}
  100% {transform: scale(1)}
}

.modal-backdrop.fade
{
  opacity: 0.5 !important;
}
.modal-open .modal
{
  opacity: 1;
}

.modal-dialog.modal-lg {
  margin-top: 170px;
}

.modal.show .modal-dialog {
  transform: none;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(.3rem - 1px);
  border-top-right-radius: calc(.3rem - 1px);
}

.modal-title {
  font-weight: bold;
}

.modal-contact {
  text-align: center;
  text-transform: uppercase;
}
