<div>
  <nav class="navbar navbar-default navbar-transparent navbar-fixed-top" color-on-scroll="200">
    <!-- if you want to keep the navbar hidden you can add this class to the navbar "navbar-burger"-->
    <div class="container">
        <div class="navbar-header">
            <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
            </button>
            <div class="image">
              <a href="/" class="navbar-brand">
                <img class="navbar-icon" alt="..."  src="assets/img/maju-apple-icon.png"/>
              </a>
            </div>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right navbar-uppercase">
                <button type="button" class="btn btn-link" (click)="scrollToElement(inicio)">
                  Início
                </button>
                <button type="button" class="btn btn-link" (click)="scrollToElement(servicos)">
                  Serviços
                </button>
                <button type="button" class="btn btn-link" (click)="scrollToElement(projetos)">
                  Projetos
                </button>
                <button type="button" class="btn btn-link" (click)="scrollToElement(quemsomos)">
                  Quem somos
                </button>
                <button type="button" class="btn btn-link" (click)="scrollToElement(contato)">
                  Contato
                </button>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
  </nav>


  <div class="section section-header" #inicio>
    <div class="parallax filter "> <!-- filter-color-red -->
        <div class="image"
            style="background-image: url('assets/img/header-1.jpeg')">
        </div>
        <div class="container">
            <div class="content">
                <div class="title-area">
                    <h1 class="title-modern">Maju Studio Render</h1>
                    <h3>O melhor studio para render arquitetônico!</h3>
                    <div class="separator line-separator">♦</div>
                </div>

                <div class="button-get-started">
                    <button type="button" class="btn btn-white btn-fill btn-lg" (click)="scrollToElement(servicos)">
                      Studio
                    </button>
                </div>
            </div>

        </div>
    </div>
  </div>


  <div class="section" #servicos>
    <div class="container">
        <div class="row">
            <div class="title-area">
                <h2>Nossos serviços</h2>
                <div class="separator separator-danger">✻</div>
                <p class="description">Nós oferecemos a você uma renderização de qualidade e o mais importante, transmitir a sua imagem com um toque especial. Fazemos isso conhecendo você, suas necessidades e renderizando da melhor forma.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="info-icon">
                    <div class="icon text-danger">
                        <i class="pe-7s-box2"></i>
                    </div>
                    <h3>Modelagem 3D</h3>
                    <p class="description">Através da renderização você terá imagens fotorrealistas do seu projeto para exibição de ambientes aos clientes, trazendo mais sofisticação e tecnologia para seu produto.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-icon">
                    <div class="icon text-danger">
                        <i class="pe-7s-film"></i>
                    </div>
                    <h3>Renderização</h3>
                    <p class="description">Com a pós-producão o render terá incrementos e poderá simular ambientações diferentes em um período mais curto de elaboração.</p>
                </div>
            </div>
            <div class="col-md-4">
              <div class="info-icon">
                  <div class="icon text-danger">
                      <i class="pe-7s-display1"></i>
                  </div>
                  <h3>Pós-produção</h3>
                  <p class="description">Trazemos mais realismo para a renderização, trazendo mais detalhes ao seu ambiente.</p>
              </div>
          </div>
        </div>
    </div>
  </div>

  <div class="section section-projects" #projetos>
    <div class="container">
      <div class="row">
        <div class="title-area">
            <h2 class="white">Projetos</h2>
            <div class="separator separator-danger white">✻</div>
            <p class="description white">Esses são alguns de nossos projetos de renderização e pós-produção.</p>
        </div>
      </div>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img [src]="images[0]" alt="Los Angeles">
          </div>

          <div class="item">
            <img [src]="images[1]" alt="Chicago">
          </div>

          <div class="item">
            <img [src]="images[2]" alt="New york">
          </div>

          <div class="item">
            <img [src]="images[3]" alt="New york">
          </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="fa fa-chevron-left"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="fa fa-chevron-right"></span>
          <span class="sr-only">Próximo</span>
        </a>
      </div>
    </div>
  </div>


  <div class="section section-our-team-freebie" #quemsomos>
    <div class="parallax filter filter-color-black">
        <div class="image" style="background-image:url('assets/img/header-2.jpeg')">
        </div>
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="title-area">
                        <h2>Quem somos</h2>
                        <div class="separator separator-danger">✻</div>
                        <p class="description">Somos estudantes de Arquitetura e Urbanismo com experiência em renderização e pós-produção. Sempre buscamos as melhores técnicas para trazer mais realismo ao seu projeto.</p>
                    </div>
                </div>

                <div class="team">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-3">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" sizes="500x500" src="assets/img/faces/carolina.jpg"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Carolina Vieira</h3>
                                                <p class="small-text">Co-Fundadora</p>
                                                <p class="description">Carolina é pura alegria e energia. Corredora e designer, adora ensinar e ouvir músicas. Para ela, dia cheio é sinônimo de felicidade, e na agitação, ela se encontra. Na arquitetura, ela encontrou um meio de por sua energia para fora, de usá-la pra colorir o mundo e a vida.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" sizes="400x400" src="assets/img/faces/juliana.jpg"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Juliana Dutra</h3>
                                                <p class="small-text">Co-Fundadora</p>
                                                <p class="description">Juliana é delicada e sonhadora. Determinada e decidida, adora viajar, conversar, tomar um cafezinho e ler bons livros. Para ela, a arquitetura é uma forma de contar histórias, de pessoas, de cidades e de momentos.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>


  <div class="section section-small section-get-started" #contato>
    <div class="parallax filter bg-white">
        <div class="container">
            <div class="title-area">
                <h2 class="text-black">Você quer trabalhar conosco?</h2>
                <div class="separator line-separator black">♦</div>
                <p class="description text-black"> Estamos interessados em ajudá-lo com seu projeto, trazendo mais realismo e mais visibilidade.</p>
            </div>

            <div class="button-get-started">
                <a href="mailto:caroolinavieir@gmail.com" class="btn btn-danger btn-fill btn-lg">Entre em contato</a>
            </div>
        </div>
    </div>
  </div>


  <footer class="footer footer-big footer-color-black" data-color="black">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-md-offset-1 col-sm-3" #midias>
                <div class="info">
                    <h5 class="title">Siga-nos</h5>
                    <nav>
                        <ul>
                            <!-- <li>
                                <a href="#" class="btn btn-social btn-facebook btn-simple">
                                    <i class="fa fa-facebook-square"></i> Facebook
                                </a>
                            </li> -->
                            <!-- <li>
                                <a href="#" class="btn btn-social btn-dribbble btn-simple">
                                    <i class="fa fa-dribbble"></i> Dribbble
                                </a>
                            </li> -->
                            <!-- <li>
                                <a href="#" class="btn btn-social btn-twitter btn-simple">
                                    <i class="fa fa-twitter"></i> Twitter
                                </a>
                            </li> -->
                            <li>
                                <a href="https://www.instagram.com/rendermaju/" target="_blank" class="btn btn-social btn-reddit btn-simple">
                                    <i class="fa fa-instagram"></i> Instagram
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <hr>
        <div class="copyright">
            © {{ getYear() }} Maju Studio Render, para melhor apresentação de projetos arquitetônicos e de interiores
        </div>
    </div>
  </footer>
</div>
