<div>
  <nav class="navbar navbar-default navbar-transparent navbar-fixed-top" color-on-scroll="200">
    <!-- if you want to keep the navbar hidden you can add this class to the navbar "navbar-burger"-->
    <div class="container">
        <div class="navbar-header">
            <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
            </button>
            <div class="image">
              <a href="/" class="navbar-brand">
                <img alt="..."  src="assets/img/maju-apple-icon.png"/>
              </a>
            </div>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right navbar-uppercase">
                <button type="button" class="btn btn-link" (click)="scrollToElement(inicio)">
                  Início
                </button>
                <button type="button" class="btn btn-link" (click)="scrollToElement(sobre)">
                  Studio
                </button>
                <button type="button" class="btn btn-link" (click)="scrollToElement(projetos)">
                  Projetos
                </button>
                <button type="button" class="btn btn-link" (click)="scrollToElement(midias)">
                  Mídias Sociais
                </button>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
  </nav>


  <div class="section section-header" #inicio>
    <div class="parallax filter "> <!-- filter-color-red -->
        <div class="image"
            style="background-image: url('assets/img/header-1.jpeg')">
        </div>
        <div class="container">
            <div class="content">
                <div class="title-area">
                    <h1 class="title-modern">MAJU Render Studio</h1>
                    <h3>O melhor studio para render arquitetônico!</h3>
                    <div class="separator line-separator">♦</div>
                </div>

                <div class="button-get-started">
                    <button type="button" class="btn btn-white btn-fill btn-lg" (click)="scrollToElement(sobre)">
                      Studio
                    </button>
                </div>
            </div>

        </div>
    </div>
  </div>


  <div class="section" #sobre>
    <div class="container">
        <div class="row">
            <div class="title-area">
                <h2>Nossos serviços</h2>
                <div class="separator separator-danger">✻</div>
                <p class="description">Nós prometemos a você uma aparência moderna na renderização e o mais importante, trazer vida ao seu projeto. Fazemos isso conhecendo você, suas necessidades e renderizando da melhor forma.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="info-icon">
                    <div class="icon text-danger">
                        <i class="pe-7s-graph1"></i>
                    </div>
                    <h3>Sales</h3>
                    <p class="description">We make our design perfect for you. Our adjustment turn our clothes into your clothes.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-icon">
                    <div class="icon text-danger">
                        <i class="pe-7s-note2"></i>
                    </div>
                    <h3>Content</h3>
                    <p class="description">We create a persona regarding the multiple wardrobe accessories that we provide..</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-icon">
                    <div class="icon text-danger">
                        <i class="pe-7s-music"></i>
                    </div>
                    <h3>Music</h3>
                    <p class="description">We like to present the world with our work, so we make sure we spread the word regarding our clothes.</p>
                </div>
            </div>
        </div>
    </div>
  </div>


  <div class="section section-our-team-freebie" #projetos>
    <div class="parallax filter filter-color-black">
        <div class="image" style="background-image:url('assets/img/header-2.jpeg')">
        </div>
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="title-area">
                        <h2>Quem somos</h2>
                        <div class="separator separator-danger">✻</div>
                        <p class="description">Somos estudantes de Arquitetura e Urbanismo com experiência em renderização e pós-produção. Sempre buscamos as melhores técnicas para trazer mais realismo ao seu projeto.</p>
                    </div>
                </div>

                <div class="team">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-3">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" sizes="400x364" src="assets/img/faces/carolina.jpg"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Carolina Vieira</h3>
                                                <p class="small-text">Co-Fundadora</p>
                                                <p class="description">Pequeno texto descontraído.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" sizes="400x364" src="assets/img/faces/juliana.jpg"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Juliana Dutra</h3>
                                                <p class="small-text">Co-Fundadora</p>
                                                <p class="description">Pequeno texto descontraído.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>


  <div class="section section-small section-get-started">
    <div class="parallax filter bg-white">
        <div class="container">
            <div class="title-area">
                <h2 class="text-black">Você quer trabalhar conosco?</h2>
                <div class="separator line-separator black">♦</div>
                <p class="description text-black"> Estamos interessados em ajudá-lo com seu projeto, trazendo mais realismo e mais visibilidade.</p>
            </div>

            <div class="button-get-started">
                <a href="#gaia" class="btn btn-danger btn-fill btn-lg">Entre em contato</a>
            </div>
        </div>
    </div>
  </div>


  <footer class="footer footer-big footer-color-black" data-color="black">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-md-offset-1 col-sm-3" #midias>
                <div class="info">
                    <h5 class="title">Siga-nos</h5>
                    <nav>
                        <ul>
                            <!-- <li>
                                <a href="#" class="btn btn-social btn-facebook btn-simple">
                                    <i class="fa fa-facebook-square"></i> Facebook
                                </a>
                            </li> -->
                            <!-- <li>
                                <a href="#" class="btn btn-social btn-dribbble btn-simple">
                                    <i class="fa fa-dribbble"></i> Dribbble
                                </a>
                            </li> -->
                            <!-- <li>
                                <a href="#" class="btn btn-social btn-twitter btn-simple">
                                    <i class="fa fa-twitter"></i> Twitter
                                </a>
                            </li> -->
                            <li>
                                <a href="https://www.instagram.com/rendermaju/" target="_blank" class="btn btn-social btn-reddit btn-simple">
                                    <i class="fa fa-instagram"></i> Instagram
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <hr>
        <div class="copyright">
            © {{ getYear() }} MAJU Render Studio, seu local para fazer a melhor renderização
        </div>
    </div>
</footer>
</div>
